@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@8..144,100..1000&display=swap');

@font-face {
    font-family: 'Acorn';
    src: url('/fonts/acorn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Google Sans Flex', sans-serif;
    font-optical-sizing: auto;
}

:root {
    --gray-dark: #212429;
    --white: white;
    --green: #0fa;
    --blue: #0bf;
    --yellow: rgb(203, 203, 63);
    --blue-dark: #0a67c2;
    --purple: #9c42f5;
    --orange: #ff6a00;
    --box-shadow-card: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
    --border-card: 1px solid rgba(245, 247, 250, 0.06);
    --linear-gradient-card-blur: linear-gradient(101deg, rgba(245, 247, 250, .12), rgba(245, 247, 250, .06) 52%, rgba(245, 247, 250, 0));
    --linear-gradient-green-blue-purple: linear-gradient(114deg, #0fa, #4579f5 53%, #9c42f5);
    --blur-card: blur(40px);
    --green-dark: hsla(158, 23%, 18%, 1);
    --mind: #d5fff1;
}

body {
    background-color: var(--gray-dark);
    color: var(--white);
    overflow-x: hidden;
}


body h1,
body h2,
body h3,
body h4,
body h5 {
    font-family: 'Acorn', sans-serif;
    font-weight: 900;


}

body h1 {
    font-size: 5.5rem;
    line-height: 70px;
    margin-bottom: 30px;
    letter-spacing: -2px;
}

body h2 {
    font-size: 2.6rem;
    line-height: 40px;
    margin-bottom: 30px;
    letter-spacing: -1.5px;
}

body h3 {
    font-size: 2.2rem;
    line-height: 35px;
    margin-bottom: 20px;
    letter-spacing: -1.5px;
}

body h4 {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    line-height: 22px;
}

body p,
body a {
    font-size: 16px;
    opacity: .8;
    color: currentColor;
    font-weight: 200;
}

body p {
    margin-bottom: 20px;
}

body a {
    cursor: pointer;
}

body a:hover {
    opacity: 1;
}


body::-webkit-scrollbar,
.mobile-menu::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb,
.mobile-menu::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.334);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover,
.mobile-menu::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.648);
}

@media screen and (max-width: 600px) {
    body h1 {
        font-size: 2.7rem;
        line-height: 40px;
        margin-bottom: 20px;
    }

    body h2 {
        font-size: 2rem;
        line-height: 30px;
    }

    body h3 {
        font-size: 1.6rem;
        line-height: 25px;
    }

    body h4 {
        font-size: 1.2rem;
    }

    body p,
    body a {
        font-size: 12px;
    }

    svg {
        width: 15px !important;
        height: 15px !important;
    }
}

/* fixed button*/

.fixed-button {
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 100;
}

.fixed-button ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.fixed-button ul li {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--linear-gradient-card-blur);
    border: var(--border-card);
    box-shadow: var(--box-shadow-card);
    backdrop-filter: blur(40px);
    transition: all .3s;
}


.fixed-button ul li:hover {
    transform: scale(1.2) !important;
}

.fixed-button ul li:focus,
.fixed-button ul li:active {
    transform: scale(.9) !important;
}

.fixed-button ul li:nth-child(1) {
    transform: scale(0);
}




.fixed-button ul li a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}





@media screen and (max-width: 1380px) {
    .fixed-button {
        right: 20px;
        bottom: 20px;
    }
}


/* sec anm */


.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--linear-gradient-green-blue-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -130%;
    animation: preloaderm 3s;
    z-index: 200;
}

@keyframes preloaderm {
    0% {
        top: 0%;
    }

    80% {
        top: 0%;
    }

    100% {
        top: -130%;
    }
}

.preloader-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    animation: opacity 2.5s;
    opacity: 0;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.preloader-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 60%;
}

.preloader-number::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-radius: 50%;
    top: 0;
    left: 0;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }

}

.preloader-number::before {
    position: absolute;
    content: "100";
    font-size: 8rem;
    font-family: 'Acorn', sans-serif;
    font-weight: 300;
    animation: preloader-count 2.5s;
}

@keyframes preloader-count {
    0% {
        content: "0";
    }

    1% {
        content: "1";
    }

    2% {
        content: "2";
    }

    3% {
        content: "3";
    }

    4% {
        content: "4";
    }

    5% {
        content: "5";
    }

    6% {
        content: "6";
    }

    7% {
        content: "7";
    }

    8% {
        content: "8";
    }

    9% {
        content: "9";
    }

    10% {
        content: "10";
    }

    11% {
        content: "11";
    }

    12% {
        content: "12";
    }

    13% {
        content: "13";
    }

    14% {
        content: "14";
    }

    15% {
        content: "15";
    }

    16% {
        content: "16";
    }

    17% {
        content: "17";
    }

    18% {
        content: "18";
    }

    19% {
        content: "19";
    }

    20% {
        content: "20";
    }

    21% {
        content: "21";
    }

    22% {
        content: "22";
    }

    23% {
        content: "23";
    }

    24% {
        content: "24";
    }

    25% {
        content: "25";
    }

    26% {
        content: "26";
    }

    27% {
        content: "27";
    }

    28% {
        content: "28";
    }

    29% {
        content: "29";
    }

    30% {
        content: "30";
    }

    31% {
        content: "31";
    }

    32% {
        content: "32";
    }

    33% {
        content: "33";
    }

    34% {
        content: "34";
    }

    35% {
        content: "35";
    }

    36% {
        content: "36";
    }

    37% {
        content: "37";
    }

    38% {
        content: "38";
    }

    39% {
        content: "39";
    }

    40% {
        content: "40";
    }

    41% {
        content: "41";
    }

    42% {
        content: "42";
    }

    43% {
        content: "43";
    }

    44% {
        content: "44";
    }

    45% {
        content: "45";
    }

    46% {
        content: "46";
    }

    47% {
        content: "47";
    }

    48% {
        content: "48";
    }

    49% {
        content: "49";
    }

    50% {
        content: "50";
    }

    51% {
        content: "51";
    }

    52% {
        content: "52";
    }

    53% {
        content: "53";
    }

    54% {
        content: "54";
    }

    55% {
        content: "55";
    }

    56% {
        content: "56";
    }

    57% {
        content: "57";
    }

    58% {
        content: "58";
    }

    59% {
        content: "59";
    }

    60% {
        content: "60";
    }

    61% {
        content: "61";
    }

    62% {
        content: "62";
    }

    63% {
        content: "63";
    }

    64% {
        content: "64";
    }

    65% {
        content: "65";
    }

    66% {
        content: "66";
    }

    67% {
        content: "67";
    }

    68% {
        content: "68";
    }

    69% {
        content: "69";
    }

    70% {
        content: "70";
    }

    71% {
        content: "71";
    }

    72% {
        content: "72";
    }

    73% {
        content: "73";
    }

    74% {
        content: "74";
    }

    75% {
        content: "65";
    }

    76% {
        content: "76";
    }

    77% {
        content: "77";
    }

    78% {
        content: "78";
    }

    79% {
        content: "79";
    }

    80% {
        content: "80";
    }

    81% {
        content: "81";
    }

    82% {
        content: "82";
    }

    83% {
        content: "83";
    }

    84% {
        content: "84";
    }

    85% {
        content: "85";
    }

    86% {
        content: "86";
    }

    87% {
        content: "87";
    }

    88% {
        content: "88";
    }

    89% {
        content: "89";
    }

    90% {
        content: "90";
    }

    91% {
        content: "91";
    }

    92% {
        content: "92";
    }

    93% {
        content: "93";
    }

    94% {
        content: "94";
    }

    95% {
        content: "95";
    }

    96% {
        content: "96";
    }

    97% {
        content: "97";
    }

    98% {
        content: "98";
    }

    99% {
        content: "99";
    }

    100% {
        content: "100";
    }

}

.preloader-line {
    width: 400px;
    height: 16px;
    border: 1px solid white;
}

.preloader-line span {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: preloader-line 2.5s;
}

@keyframes preloader-line {
    0% {
        width: 0%;
    }

}

@media screen and (max-width: 500px) {
    .preloader-content {
        padding: 20px;
        width: 100%;
    }

    .preloader-number {
        width: 200px;
        height: 200px;
    }

    .preloader-number::before {

        font-size: 5rem;
    }

    .preloader-line {
        width: 100%;
    }

}

/* header */

header {
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 100;
    animation: header 1s;
    animation-delay: 2.5s;
}

@keyframes header {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

}

.header-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
    z-index: -1;
}

.header-blur.headerActive {
    background: rgba(255, 255, 255, 0.082);
    backdrop-filter: var(--blur-card);
}


header nav {
    width: 100%;
    margin: 0 auto;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul:nth-child(1) li:nth-child(1) a {
    position: relative;
    opacity: 1;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    padding: 20px 20px 20px 0px;
    font-size: 26px;
    font-family: 'Acorn', sans-serif;
}

header nav ul:nth-child(1) li:nth-child(1) a img {
    width: 35px;
}

header nav ul:nth-child(1) li a {
    padding: 20px;
    display: flex;
    align-items: center;
}

header nav ul:nth-child(1) li:nth-child(3) a {
    gap: 5px;
}

.header-nav-item a svg {
    position: relative !important;
    opacity: 1 !important;
    height: 25px !important;
    width: 25px !important;
    display: block;
    transition: all .4s cubic-bezier(.175, .885, .32, 1.275);
}

.header-nav-item:hover a svg {
    transform: rotate(180deg);
}

header nav ul:nth-child(1) li a {
    position: relative;
}

header nav ul:nth-child(1) li a svg {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 10%;
    left: 0%;
    transition: all .3s;
}

header nav ul:nth-child(1) li a:hover svg {
    opacity: 1;
}

header nav ul:nth-child(1) li a::before {
    opacity: 1;
    position: absolute;
    display: none;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: all .3s;
}

header nav ul:nth-child(1) li:nth-child(1) a::before,
header nav ul:nth-child(1) li:nth-child(3) a::before {
    display: none;
}

header nav ul:nth-child(1) li a:hover::before {
    opacity: 1;
}


header nav ul:nth-child(2) li a {
    opacity: 1;
    display: block;
    padding: 10px 20px;
    background: var(--gray-dark);
    box-shadow: var(--box-shadow-card);
    border-radius: 7px;
    border: none;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

header nav ul:nth-child(2) li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient-green-blue-purple);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: -1;
}

#header-btn-right.header-btn-active::before {
    opacity: 1;
}

#header-btn-right:hover {
    box-shadow: 4px 4px 20px rgba(0, 187, 255, 0.3);
    transform: translateY(-2px);
}

#header-btn-right.header-btn-active {
    box-shadow: 4px 5px 20px #0a66c24d;
    border: none;
}

.header-nav-item {
    position: relative;
}

.header-nav-item:hover .header-dropdown {
    transform: scaleY(1);
    opacity: 1;
}

.header-nav-item:hover .header-dropdown li {
    opacity: 1;
    transform: translateY(0px);
}

.header-dropdown {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    display: flex;
    top: 108%;
    width: 210px;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border-radius: 20px;
    background: var(--linear-gradient-card-blur);
    border: var(--border-card);
    box-shadow: var(--box-shadow-card);
    backdrop-filter: var(--blur-card);
    transition: all .2s ease-in-out;
}

.header-dropdown li {
    opacity: 0;
    transform: translateY(30px);
    transition: all 250ms ease-in-out;
}

.header-dropdown li:nth-child(1) a {
    padding: 14px 20px !important;
    font-family: 'Quicksand', sans-serif !important;
}

.header-nav-item:hover .header-dropdown li:nth-child(2) {
    transition-delay: 50ms;
}

.header-nav-item:hover .header-dropdown li:nth-child(3) {
    transition-delay: 100ms;
}

.header-nav-item:hover .header-dropdown li:nth-child(4) {
    transition-delay: 150ms;
}

.header-nav-item:hover .header-dropdown li:nth-child(5) {
    transition-delay: 200ms;
}

.header-nav-item:hover .header-dropdown li:nth-child(6) {
    transition-delay: 250ms;
}

.header-nav-item:hover .header-dropdown li:nth-child(7) {
    transition-delay: 300ms;
}

.header-nav-item:hover .header-dropdown li:nth-child(8) {
    transition-delay: 350ms;
}

.header-dropdown li a {
    font-size: 19px !important;
    font-weight: 300 !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 12px 20px !important;
    display: block !important;
    width: 185px !important;
}

.header-dropdown li a:hover {
    background: rgba(255, 255, 255, 0.093) !important;
}

.hamburger {
    opacity: .7;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 10;
    margin: 0 0 0 15px;
}

.hamburger span {
    width: 25px;
    height: 1px;
    background-color: currentColor;
    transition: all .3s;
}

.hamburger:hover {
    opacity: 1;
}

.hamburger-open-0 {
    transform: rotate(45deg) translateY(7px) translateX(5px);
}

.hamburger-open-1 {
    opacity: 0;
    transform: translateX(-5px);
}

.hamburger-open-2 {
    transform: rotate(-45deg) translateY(-7px) translateX(5px);
}

@media screen and (max-width: 1380px) {
    header nav {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 1065px) {
    header {
        height: 79px;
        border-bottom: 1px solid rgb(152, 152, 152);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav {
        width: 100%;
    }

    header nav ul:nth-child(1) li:nth-child(2) a,
    header nav ul:nth-child(1) li:nth-child(3) a,
    header nav ul:nth-child(1) li:nth-child(4) a,
    header nav ul:nth-child(1) li:nth-child(5) a,
    header nav ul:nth-child(1) li:nth-child(6) a,
    header nav ul:nth-child(1) li:nth-child(7) a {
        display: none;
    }

    .hamburger {
        display: flex;
    }

}

/* sec menu responsive */

.mobile-menu {
    transform: scaleY(0);
    display: none;
    transform-origin: top;
    position: fixed;
    width: 70%;
    height: calc(100vh - 80px);
    background: var(--linear-gradient-card-blur);
    backdrop-filter: var(--blur-card);
    z-index: 100;
    bottom: 0;
    padding: 40px 20px;
    overflow-y: scroll;
    opacity: 0;
    transition: all .3s;
}

.mobile-menu.mobile-menu-active {
    opacity: 1;
    transform: scaleY(1);
}

.mobile-menu-list {
    opacity: 0;
    transform: translateY(50px);
    transition: all .3s;
    transition-delay: .2s;
}

.mobile-menu-list.mobile-menu-list-active {
    opacity: 1;
    transform: translateY(0px);
}

.mobile-menu ul li a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    transition: all .2s;
}

.mobile-menu ul li a:hover {
    transform: translateX(5px);
}

.mobile-menu-info {
    padding: 20px;
    border-radius: 20px;
    background: var(--linear-gradient-card-blur);
    border: var(--border-card);
    backdrop-filter: var(--blur-card);
    box-shadow: var(--box-shadow-card);
}

#mobile-menu-cta {
    opacity: 1;
    width: 100%;
    display: flex;
    padding: 15px 20px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background: var(--linear-gradient-green-blue-purple);
    box-shadow: 4px 10px 20px #0a66c21a;
}


.mobile-menu .hero-social ul {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

@media screen and (max-width: 800px) {
    .mobile-menu {
        display: block;
    }
}



.gradient-bg {
    position: absolute;
    width: 50vw;
    height: 80vh;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, #a0f36d, #d3dbab, #590a8198, #8a880fca, #5A4894, #ff94c3, #7cffee);
    background-size: 500%;
    z-index: -2;
    animation: degra 35s infinite linear;
}

@keyframes degra {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to right, #21242921, #21242938, #21242987, #212429);
    backdrop-filter: blur(100);
}

.gradient-overlay {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom, #212429e8, #212429c6, #212429f5, #212429);
    backdrop-filter: blur(100);
}



/* sec max width */

.container {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    animation: fade-in-up .8s;
    animation-delay: 2.4s;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(700px) scale(.8);
    }
}


@media screen and (max-width: 1280px) {
    .container2 {
        overflow: hidden;
        padding: 0px 10px;
    }
}

/* sec hero */

.hero {
    margin-top: 100px;
}

.hero .container {
    display: flex;
    align-items: center;

}

.hero-content {
    position: relative;
    width: 52%;
    z-index: 10;
}

.hero-content a:nth-child(3),
.hero-content a:nth-child(4) {
    opacity: 1;
    background: var(--linear-gradient-green-blue-purple);
    border-radius: 8px;
    width: 230px;
    padding: 16px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 4px 5px 10px #0a66c225;
    transition: all 300ms;

}

.hero-content a:nth-child(3):hover,
.hero-content a:nth-child(4):hover {
    transform: translateY(-5px);
    box-shadow: 4px 5px 20px #0a66c24d;
}

.hero-content a:nth-child(3) svg,
.hero-content a:nth-child(4) svg {
    opacity: .8;
    width: 20px;
    height: 20px;
}

.hero-content a:nth-child(4) {
    background: transparent;
    border: 1px solid #0a66c2bb;
    margin: 0 0 0 10px;
}

.hero-content a:nth-child(4) ul li span {
    font-family: 'Quicksand', sans-serif;

}

.hero-content a:nth-child(4) svg {

    transform: rotate(0deg);
    width: 20px;
    height: 20px;
    stroke: currentColor;
}

.hero-social {
    margin-top: 30px;
}

.hero-social ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

#social-btn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all .3s;
    backdrop-filter: var(--blur-card);
    box-shadow: 5px 5px 24px 0 rgba(9, 13, 20, 0.449), -4px -4px 8px 0 rgba(224, 224, 255, 0.046), 0 1px 1px 0 rgba(9, 13, 20, 0.316)
}

.hero-social ul li a svg {
    opacity: .7;
    width: 50%;
    transition: all .3s;
    stroke: currentColor;
}

.hero-social ul li a:hover svg {
    opacity: 1;
}


.hero picture {
    position: relative;
    width: 50%;
    transform: translate(100px, 10px);
    display: flex;
    justify-content: start;
    align-items: end;

}

.hero picture img:nth-child(1) {
    transform: translateY(-100px);
}

.hero picture img {
    width: 100%;

}

.hero-card {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 280px;
    height: 450px;
    background: linear-gradient(155.32deg, rgba(245, 247, 250, .5) 15.74%, rgba(245, 247, 250, .4) 51.07%, rgba(245, 247, 250, .2) 84.26%);
    backdrop-filter: var(--blur-card);
    border: var(--border-card);
    box-shadow: var(--box-shadow-card);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-card img {
    position: absolute;
    width: 100%;
}

.hero-card img:nth-child(1) {
    transform: translateY(0px) !important;
}

.hero-card img:nth-child(2) {
    width: 60%;
}

#hero-emoji-1 {
    position: absolute;
    width: 180px;
    bottom: 110px;
    left: -50px;
    animation: emogi1 6s infinite;
}

@keyframes emogi1 {

    0%,
    100% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(20px);
    }
}

#hero-emoji-2 {
    position: absolute;
    width: 220px;
    bottom: 210px;
    right: 10%;
    animation: emogi2 6s infinite;
}

@keyframes emogi2 {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-20px);
    }
}

#hero-emoji-3 {
    position: absolute;
    width: 130px;
    bottom: -10px;
    right: -10%;
    animation: emogi2 6s infinite;
}

#hero-emoji-4 {
    position: absolute;
    width: 60px;
    top: 30px;
    left: -17px;
    animation: emogi2 4s infinite;
}

#hero-emoji-5 {
    position: absolute;
    width: 160px;
    top: 30px;
    left: 30%;
    animation: emogi1 5s infinite;
}



@media screen and (max-width: 1000px) {
    #hero .container {
        flex-direction: column;
        overflow: hidden;
    }

    .hero-social {
        display: flex;
        justify-content: center;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero picture {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .hero picture img:nth-child(1) {
        transform: translate(60px, 0px);
    }

    .hero-card {
        height: 70vw;
        width: 45vw;
    }

    #hero-emoji-1 {
        width: 20vw;
        left: 5%;
    }

    #hero-emoji-2 {
        width: 33vw;
        bottom: 10%;
    }

    #hero-emoji-3 {
        width: 15vw;
    }

    #hero-emoji-4 {
        width: 10vw;
    }

    #hero-emoji-5 {
        width: 30vw;
    }
}

@media screen and (max-width: 600px) {

    #hero .hero-content a:nth-child(3),
    #hero .hero-content a:nth-child(4) {
        width: calc(50% - 10px);
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;

    }

    #social-btn {
        width: 35px;
        height: 35px;
        margin-top: -10px;
    }

}



/* sec experiencia */

.experience {
    position: relative;
    width: 100%;
    margin-top: 80px;
}

.experience::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    left: 22px;
    top: 0;
    background-color: rgba(111, 177, 251, .64);
    z-index: 10;
}

.experience-header {
    position: relative;
    padding-bottom: 70px;
    background-color: var(--gray-dark);
    z-index: 20;
}


.experience-header h2 {
    margin-bottom: 10px;
}


.experience-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.experience-item-left {
    position: relative;
    display: flex;
    width: 35%;
}

.experience-item-left h4 {
    position: relative;
    padding-right: 20px;
    display: flex;
    width: 80%;
    align-items: center;
    background-color: var(--gray-dark);
    height: 40px;
    gap: 20px;
    z-index: 20;
}

.experience-item-left h4 span:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(135deg, rgb(0, 255, 170) 0%, rgb(0, 187, 255) 53.09%, rgb(69, 121, 245) 100%);
    border-radius: 50%;
    z-index: 30;
}

.experience-item-left h4 span:nth-child(1) svg {
    width: 50%;
}

.experience-item-left h4 span:nth-child(2) {
    font-family: 'Acorn', sans-serif;
    width: 70%;
}

.experience-item-left::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    right: 50px;
    top: 25px;
    background-color: currentColor;
}

.experience-item-right {
    width: 65%;
}

.experience-item-right h4 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.experience-item-right h4 p {
    margin-bottom: 0px;
}

.experience-item-right h4 p:nth-child(2) {
    opacity: 1;
    padding: 15px 0 15px 0;
    background-image: url(/img/title-purple.svg);
    background-repeat: no-repeat;
    font-style: italic;
    background-position-y: 100%;
}

.experience-item:nth-child(3) .experience-item-left h4 span:nth-child(1) {
    background-image: linear-gradient(135deg, #6f0 0, #16b862 51.88%, #00858f 100%);
}

.experience-item:nth-child(4) .experience-item-left h4 span:nth-child(1) {
    background-image: linear-gradient(135deg, #ff5e00 0, #f54562 54.11%, #c32de1 100%);
}

.experience-item:nth-child(5) .experience-item-left h4 span:nth-child(1) {
    background-image: linear-gradient(135deg, #f0a 0, #9c42f5 50.18%, #5d2de1 100%);
}

.experience-item:nth-child(6) .experience-item-left h4 span:nth-child(1) {
    background-image: linear-gradient(135deg, rgb(0, 187, 255) 0%, rgb(69, 121, 245) 51.01%, rgb(93, 45, 225) 100%);
}


@media screen and (max-width: 800px) {
    .experience-item {
        flex-direction: column;
        gap: 20px;
    }

    .experience-item-left,
    .experience-item-right {
        width: 100%;
    }

    .experience-item-left h4 {
        position: relative;
        background-color: var(--gray-dark);
        padding-right: 15px;
        transform: translateX(0px);
    }

    .experience-item-left h4 span:nth-child(2) {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

    }

    .experience-item-left::before {
        display: none;
    }

    .experience-item-right p {
        padding: 0 0 0 50px;
    }

    .experience-item-right h4 {
        flex-direction: column;
        align-items: start;
    }

    .experience-item-right h4 p:nth-child(2) {
        padding: 0 0 15px 0px;
        margin: 0 0 0 50px;
    }

    .experience::before {
        left: 15px;
    }

    #experience-bg span:nth-child(1) {
        width: 35px;
        height: 35px;
    }
}

/* section 2*/

.services {
    position: relative;
    width: 100%;
    margin-top: 120px;
}

.services-header {
    max-width: 700px;
    margin: 0 auto;
}

.services-header,
.projects-header {
    text-align: center;
}

#underline {
    display: inline-flex;
    font-weight: 400;
    color: var(--blue);
    background-image: url(/img/title-blue.svg);
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-position-y: 100%;
}

#underline.underlayActive {
    color: var(--blue-dark);
    background-image: url(/img/title-dark-blue.svg);

}


.service-card {
    cursor: default;
    position: relative;
    width: 100%;
    padding: 30px;
    border-radius: 24px;
    background: rgba(245, 247, 250, 0);
    box-shadow: var(--box-shadow-card);
    border: var(--border-card);
    backdrop-filter: var(--blur-card);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.service-card p,
.service-card a {
    opacity: 1;
}

#service-card-featured {
    margin-bottom: 20px;
}

#service-card-featured .service-card-content {
    max-width: 600px;
}

#service-card-featured .service-card-row img {
    margin-left: -6px;
}

#service-card-featured p,
.despliegues-card p,
.services-grid .service-card p {
    opacity: 0.7;
}

.service-card::before {
    position: absolute;
    content: "";
    width: 550px;
    height: 550px;
    right: 10%;
    top: -170%;
    background: linear-gradient(to right, rgb(222, 91, 255), rgb(86, 91, 207));
    border-radius: 50%;
    z-index: -2;
    filter: blur(40px);
}

.service-card::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    right: -5%;
    top: 20%;
    background: rgb(45, 215, 173);
    border-radius: 50%;
    z-index: -2;
    filter: blur(40px);
}

.service-card-content {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 20px;
}

.service-card-row {
    display: flex;
    align-items: center;

    gap: 20px;

}


.service-card-content img {
    width: 80px;
}


.service-card-content a {
    color: currentColor;
    display: flex;
    align-items: center;
}

.service-card-content a svg {
    width: 25px;
    transition: all .3s;
}

.service-card-content a svg path {
    fill: currentColor;
}

.service-card-content a:hover svg {
    transform: translateX(10px);
}


.service-card p {
    font-size: 0.75rem;
    text-align: right;
}

.services-layout {
    display: flex;
    gap: 20px;
}

.services .services-layout .service-card:nth-child(1) {
    width: 30%;
}

.despliegues-card .service-card-content {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.despliegues-card .service-card-content>a {
    margin-top: auto;
}

#service-card-featured .service-card-row {
    align-items: center;
}

#service-card-featured .service-card-row h3 {
    transform: translateY(10px);
}

.services-grid>.card-dark-grid:first-child .service-card-row {
    align-items: center;
}

.services-grid>.card-dark-grid:first-child .service-card-row h3 {
    transform: translateY(10px);
}

.despliegues-img {
    width: 80px;
    margin-bottom: 10px;
}

.despliegues-card p {
    white-space: nowrap;
    position: relative;
    left: -85px;
}

.despliegues-flex {
    width: 200px;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.services .services-layout .service-card:nth-child(1)::after {
    width: 600px;
    height: 600px;
    left: -70%;
    top: 40%;
    background: linear-gradient(to top left, rgb(156, 184, 225) 50%, rgb(0, 140, 255));
}

.services-grid {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.services-grid .service-card:nth-child(1) {
    flex-basis: 100%;
}

.services-grid .service-card:nth-child(1) h3 {
    max-width: 230px;
}

.services-grid .service-card:nth-child(1)::before {
    background: linear-gradient(to top right, rgb(87, 81, 248) 40%, rgb(255, 57, 31));
    left: 35%;
    top: -10%;
    width: 700px;
    height: 700px;
}


.services-grid .service-card:nth-child(2),
.services-grid .service-card:nth-child(3) {
    flex-basis: 48.7%;
}

.services .services-layout .service-card:nth-child(1) .service-card-content h1,
.services-grid .service-card:nth-child(2) .service-card-content h1,
.services-grid .service-card:nth-child(3) .service-card-content h1 {
    max-width: none;
}

.services-grid .service-card:nth-child(2)::after {
    background: linear-gradient(to top left, rgb(115, 255, 0), rgb(66, 135, 255) 35%);
}

.services-grid .service-card:nth-child(3)::after {
    background: radial-gradient(rgb(204, 0, 255), rgb(78, 217, 255) 70%);
    top: -20%;
    right: -30%;
}

.services-grid .service-card:nth-child(3)::before {
    background: rgb(196, 234, 255);
    left: -30%;
    top: -150%;
}

#bento___grid__btn {
    color: var(--gray-dark);
}

@media screen and (max-width:1180px) {

    .services-grid .service-card:nth-child(2),
    .services-grid .service-card:nth-child(3) {
        flex-basis: 48.5%;
    }

    .services-layout .service-card:nth-child(1),
    .services-grid .service-card:nth-child(2),
    .services-grid .service-card:nth-child(3) {
        flex-direction: column;
    }

    #service-card-featured .service-card-row img {
        margin-left: 0;
    }

}

@media screen and (max-width:1035px) {

    .services-grid .service-card:nth-child(2),
    .services-grid .service-card:nth-child(3) {
        flex-basis: 48.4%;
        backdrop-filter: blur(40px);
    }
}


@media screen and (max-width:975px) {

    .services,
    .services-grid {
        gap: 10px;
    }

    .service-card {
        flex-direction: column;
    }

    .service-card::before,
    .service-card::after {
        opacity: .7;
    }

    .service-card-content {
        display: block;
    }

    .service-card-content img {
        margin-bottom: 20px;
    }

    .service-card-content a img {
        margin-top: 20px;
    }

    .services-layout {
        display: block;
    }

    .services .services-layout .service-card:nth-child(1) {
        width: 100%;
        margin-bottom: 20px;
    }

    .services .services-grid {
        width: 100%;
        display: block;
    }

    .services .services-grid .service-card:nth-child(2) {
        margin-bottom: 20px;
    }

    .service-card-row {
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }

    #service-card-featured .service-card-row,
    .services-grid>.card-dark-grid:first-child .service-card-row {
        align-items: start;
    }

    #service-card-featured .service-card-row h3,
    .services-grid>.card-dark-grid:first-child .service-card-row h3 {
        transform: translateY(0);
    }

    .service-card p {
        position: absolute;
        right: 24px;
    }

    .service-card h3 {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 600px) {
    .service-card {
        padding: 20px;
        margin-bottom: 10px;
    }

    #service-card-featured {
        margin-bottom: 10px;
    }

    .services .services-layout .service-card:nth-child(1) {
        margin-bottom: 10px;
    }

    .services .services-grid .service-card:nth-child(2) {
        margin-bottom: 10px;
    }

    .service-card-content h3,
    .service-card-row h3 {
        margin-bottom: 0;
    }

    .service-card-content img {
        width: 80px;
    }

    .despliegues-img {
        width: 80px;
    }

    .despliegues-flex {
        margin-top: 0;
    }

    .despliegues-card p {
        left: 0;
    }

    .service-card-content>a {
        margin-top: 10px;
    }

    .despliegues-card .service-card-content>a {
        margin-top: 10px;
    }
}


/* sec 3 */

.projects {
    position: relative;
    margin-top: 120px;
}


.projects-controls {
    position: sticky;
    top: 80px;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    gap: 3px;
    align-items: center;
    border-radius: 7px;
    padding: 3px;
    box-shadow: inset 8px 8px 40px 0 rgba(9, 13, 20, .4), inset -4px -4px 8px 0 rgba(224, 224, 255, .04), inset 0 1px 1px 0 rgba(9, 13, 20, .4);
    background-image: linear-gradient(180deg, #090d14, #282a2e 53%, #2d2f33);
    z-index: 99;
}

.controls-active-bg {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(25% - 4.5px);
    height: calc(100% - 6px);
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, .4), -4px -4px 8px 0 rgba(224, 224, 255, .04), 0 1px 1px 0 rgba(9, 13, 20, .4);
    background-image: linear-gradient(180deg, rgba(245, 247, 250, .24), rgba(245, 247, 250, .12) 52%, rgba(245, 247, 250, 0));
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 0;
}

.projects-controls p {
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: color 0.2s, opacity 0.2s;
    z-index: 1;
}

.projects-controls p::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.28);
}

.projects-controls p:last-child::after {
    display: none;
}

.controls-my #controls1::after,
.controls-cloned #controls1::after,
.controls-cloned #controls2::after,
.controls-uiux #controls2::after,
.controls-uiux #controls3::after,
.controls-threed #controls3::after,
.controls-threed #controls4::after {
    display: none;
}

.projects-controls p:hover {
    opacity: 1;
}

.projects-controls p.tab-active {
    color: #fff;
    opacity: 1;
}

.projects-controls p.tab-inactive {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.6;
}

.projects-controls p:hover {
    opacity: 1;
    color: #fff;
}

.hidden_old_styles {
    box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, .4), -4px -4px 8px 0 rgba(224, 224, 255, .04), 0 1px 1px 0 rgba(9, 13, 20, .4);
    background-image: linear-gradient(180deg, rgba(245, 247, 250, .24), rgba(245, 247, 250, .12) 52%, rgba(245, 247, 250, 0));
}

.old_styles_2 {
    box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, .4), -4px -4px 8px 0 rgba(224, 224, 255, .04), 0 1px 1px 0 rgba(9, 13, 20, .4);
    background-image: linear-gradient(180deg, rgba(245, 247, 250, .24), rgba(245, 247, 250, .12) 52%, rgba(245, 247, 250, 0));
}

.projects-slider {
    width: 100%;
    padding-bottom: 30px;
}

.projects-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    opacity: 1;
    width: calc(50% - 10px);
    padding: 24px;
    border-radius: 24px;
    box-shadow: var(--box-shadow-card);
    border: var(--border-card);
    background-image: var(--linear-gradient-card-blur);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    backdrop-filter: var(--blur-card);
}

.project-card-image {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.project-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .5s;
}

.project-card:hover .project-card-image img {
    filter: brightness(60%);
    transform: scale(1.1);
}

.project-card-image svg {
    position: absolute;
    width: 80%;
    z-index: 5;
}

.project-card-image svg path {
    stroke: var(--green);
    stroke-dashoffset: 1200;
    stroke-dasharray: 1200;
    transition: all .5s;
}

.project-card:hover .project-card-image svg path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1200;
}

.project-card-body {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.project-card-number {
    width: 80px;
    height: 80px;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--gray-dark);
    overflow: hidden;
    position: relative;
}

.project-card-preview {
    padding: 0;
    background-color: transparent;
}

.project-card-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.project-card-info {
    max-width: calc(100% - 180px);
}

.project-card-info p {
    margin-bottom: 0px;
}

.project-card-body span {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.076);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.098);
    border-radius: 8px;
}

.project-card-body span svg path {
    fill: currentColor;
}


.project-card:nth-child(2) .project-card-number {
    background-color: var(--blue);
}

.project-card:nth-child(2) .project-card-image svg path {
    stroke: var(--blue);
}

.project-card:nth-child(3) .project-card-number {
    background-color: var(--purple);
}

.project-card:nth-child(3) .project-card-image svg path {
    stroke: var(--purple);
}

.project-card:nth-child(4) .project-card-number {
    background-color: var(--yellow);
}

.project-card:nth-child(4) .project-card-image svg path {
    stroke: var(--yellow);
}

/* UI-UX card */
.project-card--uiux {
    overflow: hidden;
}

.project-card--uiux .project-card-image {
    position: relative;
    z-index: 1;
}

.project-card--uiux .project-card-number {
    background-color: var(--orange);
    position: relative;
}

.project-card--uiux:nth-child(1) .project-card-number {
    background-color: var(--green);
}

.project-card--uiux:nth-child(2) .project-card-number {
    background-color: var(--purple);
}

.project-card--uiux .uiux-number {
    opacity: 1;
    transition: opacity 0.3s;
}

.project-card--uiux .uiux-icon-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-card--uiux:hover .uiux-number {
    opacity: 0;
}

.project-card--uiux:hover .uiux-icon-img {
    opacity: 1;
}

.project-card--uiux .project-card-image svg path {
    stroke: var(--orange);
}

.project-card--uiux .project-card-body {
    padding: 16px 24px;
    margin: 0 -24px -24px;
    border-radius: 0 0 24px 24px;

}

.project-card--uiux .project-card-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-card--uiux .project-card-body>div:last-child {
    margin-right: auto;
    margin-left: -20px;

    width: 25%;
}

@media screen and (max-width: 880px) {
    .project-card {
        width: 100%;
    }

    .project-card-image {
        height: 55vw;
    }
}

@media screen and (max-width: 600px) {
    .project-card-number {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50px);
    }
}

/* sec blog */

.blog {
    position: relative;
    width: 100%;
    margin-top: 90px;
    animation: fade-in-up .8s;
}

.blog::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    right: 18%;
    bottom: -50px;
    background-image: linear-gradient(135deg, #0fa, #9c42f5 53%, #5d2de1);
}

.blog::after {
    position: absolute;
    content: "";
    width: 160px;
    height: 160px;
    border-radius: 50%;
    z-index: -1;
    top: 28%;
    left: 21%;
    background-image: linear-gradient(135deg, #0fa, #4579f5 53%, #9c42f5);
}

.blog img:nth-child(1) {
    position: absolute;
    top: 30%;
    left: 60px;
    width: 123px;
    animation: emogi1 6s infinite;
}

.blog img:nth-child(2) {
    position: absolute;
    bottom: -5%;
    left: 12%;
    width: 180px;
    z-index: 10;
    animation: emogi2 6s infinite;
}

.blog img:nth-child(3) {
    position: absolute;
    top: 31%;
    left: 23%;
    width: 60px;
    z-index: 10;
}

.blog img:nth-child(4) {
    position: absolute;
    top: 31%;
    right: 15%;
    width: 80px;
    z-index: 10;
    animation: emogi1 10s infinite;
}

.blog img:nth-child(5) {
    position: absolute;
    bottom: 11%;
    right: 17%;
    width: 110px;
    z-index: 10;
    animation: emogi2 6s infinite;

}

.blog img:nth-child(6) {
    position: absolute;
    bottom: 33%;
    right: 13%;
    width: 40px;
    z-index: 10;
    animation: emogi1 7s infinite alternate-reverse;
}

.blog-header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.blog-card {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 24px;
    background: var(--linear-gradient-card-blur);
    box-shadow: var(--box-shadow-card);
    border: var(--border-card);
    backdrop-filter: var(--blur-card);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blog-card img:nth-child(1) {
    position: absolute;
    top: 25px;
    left: 83%;
    z-index: 10;
}

.blog-card a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}

.blog-card a:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.187);
    padding: 10px 10px;
    border-radius: 7px;
}

.blog-card a:nth-child(3)::before,
.blog-card a:nth-child(4)::before,
.blog-card a:nth-child(5)::before,
.blog-card a:nth-child(6)::before,
.blog-card a:nth-child(7)::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.59);
    right: 24px;
}

.blog-card-actions {
    display: flex;
    gap: 10px;
}

.blog-card-actions a {
    opacity: 1;
    width: 50%;
    text-wrap: nowrap;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: var(--linear-gradient-green-blue-purple);
    box-shadow: 4px 10px 20px #0a66c23c;
    transition: all .2s;
}



.blog-card-actions a:nth-child(2) {
    background: var(--gray-dark);
    border: 1px solid #0a66c2bb;
}

@media screen and (max-width: 800px) {

    .blog img:nth-child(1),
    .blog img:nth-child(2),
    .blog img:nth-child(3),
    .blog img:nth-child(4),
    .blog img:nth-child(5),
    .blog img:nth-child(6),
    .blog::after,
    .blog:before {
        display: none;
    }
}

/* sec line y */

.secLinearY {
    opacity: .8;
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.secLinearY1 img {
    height: 250px;
}

.secLinearY svg {
    opacity: .4;
}

/* sec circle gradient */

.sec__circle {
    position: relative;
    margin-top: 80px;
}

.sec__circle__tt {
    text-align: center;
    margin-bottom: 80px;
}

.sec__circle__flex {
    position: relative;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.sec__circle__left,
.sec__circle__right {
    width: 23%;
}

.sec__circle__card {
    margin-bottom: 70px;
}

.sec__circle__left .sec__circle__card:nth-child(2) {
    margin-top: 50px;
}

.sec__circle__left .sec__circle__card:nth-child(3) {
    margin-top: 100px;
}

.sec__circle__card p {
    background-image: url(/img/title-purple.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    padding-bottom: 15px;
}

.sec__circle img:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sec__circle img:nth-child(3) {
    display: none;
}

#cicle__gradient__emogi1 {
    position: absolute;
    width: 150px;
    left: 60%;
    bottom: 15%;
    transform: translateX(-50%);
    animation: emogi1 6s infinite;
}

#cicle__gradient__emogi2 {
    position: absolute;
    width: 120px;
    left: 30%;
    top: 15%;
    transform: translateX(-50%);
    animation: emogi2 6s infinite;
}

#cicle__gradient__emogi3 {
    position: absolute;
    width: 80px;
    right: 30%;
    top: 15%;
    transform: translateX(-50%);
    animation: emogi2 7s infinite;
}

#cicle__gradient__emogi4 {
    position: absolute;
    width: 50px;
    right: 34%;
    top: 25%;
    transform: translateX(-50%);
    animation: emogi2 7s infinite;
}

#cicle__gradient__emogi5 {
    position: absolute;
    width: 30px;
    right: 40%;
    top: 22%;
    transform: translateX(-50%);
}

#cicle__gradient__emogi6 {
    position: absolute;
    width: 80px;
    left: 40%;
    bottom: 35%;
    transform: translateX(-50%);
    animation: emogi1 6s infinite alternate-reverse;
}

.sec__circle__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__circle__btn a {
    opacity: 1;
    background: var(--linear-gradient-green-blue-purple);
    padding: 14px 50px;
    border-radius: 7px;
    box-shadow: 4px 4px 20px rgba(0, 187, 255, 0.237);
    transition: all .3s;
}

.sec__circle__btn a:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 20px rgba(0, 187, 255, 0.379);
}

@media screen and (max-width: 800px) {
    .sec__circle__flex {
        width: 100%;
        align-items: end;
        flex-direction: column;
    }

    .sec__circle img:nth-child(2) {
        display: none;
    }

    .sec__circle__left,
    .sec__circle__right {
        width: 75%;
    }

    .sec__circle__card:nth-child(2),
    .sec__circle__card:nth-child(3) {
        margin-bottom: 30px;
    }

    .sec__circle img:nth-child(3) {
        position: absolute;
        display: block;
        top: 50%;
        height: 90%;
        transform: translateY(-50%);
        left: -20px;
    }

    #cicle__gradient__emogi1,
    #cicle__gradient__emogi2,
    #cicle__gradient__emogi3,
    #cicle__gradient__emogi4,
    #cicle__gradient__emogi5,
    #cicle__gradient__emogi6 {
        display: none;
    }

    .sec__circle__btn {
        justify-content: end;
    }
}

@media screen and (max-width: 600px) {
    .sec__circle__tt {
        margin-bottom: 30px;
    }

    .sec__circle__left,
    .sec__circle__right {
        width: 65%;
    }
}


/* linear color*/


.linear-color {
    width: 100%;
    height: 1px;
    display: flex;
    border-top: 2px dashed rgba(255, 255, 255, 0.578);
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}

.linear-color span {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    background-color: var(--blue);
}

.linear-color span:nth-child(2),
.linear-color span:nth-child(6),
.linear-color span:nth-child(10) {
    background-color: var(--green);
}

.linear-color span:nth-child(3),
.linear-color span:nth-child(7) {
    background-color: var(--purple);
}

.linear-color span:nth-child(4),
.linear-color span:nth-child(8) {
    background-color: var(--yellow);
}

@media screen and (max-width: 600px) {

    .linear-color span:nth-last-child(1),
    .linear-color span:nth-last-child(2),
    .linear-color span:nth-last-child(3),
    .linear-color span:nth-last-child(4),
    .linear-color span:nth-last-child(5) {
        display: none;

    }

}

/* sobre mÃ­ */

.about-header {
    position: relative;
    width: 100%;
}

.about-header h2,
.about-header p {
    max-width: 72%;
}

.about-header p span {
    font-style: italic;
    opacity: 1;
    font-weight: bold;
}

.about-header img:nth-child(5) {
    position: absolute;
    width: 230px;
    right: -10%;
    top: 4%;
    animation: emogi1 6s infinite;
}

.about-header img:nth-child(6) {
    position: absolute;
    width: 140px;
    right: 18%;
    bottom: -10%;
    animation: emogi2 6s infinite;
}

.about-header img:nth-child(7) {
    position: absolute;
    width: 40px;
    right: 34%;
    top: 0%;
    animation: emogi2 6s infinite alternate-reverse;
}

.about-references {
    position: relative;
    width: 100%;
    margin-top: 80px;
}

.about-reference-item {
    max-width: 700px;
    margin: 0 auto;
}

.about-reference-header {
    margin-bottom: 30px;
}

.about-card {
    padding: 10px 0px;
    position: relative;
    margin-bottom: 50px;
}

.about-card::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00868fde;
}

.about-card-bg {
    position: absolute;
    width: 30px;
    height: 50px;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--gray-dark);
}


.about-card svg {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.about-card svg path {
    fill: #00868fde;
    ;
}

.about-card-content {
    padding-left: 40px;
}

.about-card-content p:nth-last-child(1) {
    display: flex;
    align-items: center;
    gap: 15px;
    font-style: italic;
}

.about-card-content p:nth-last-child(1) span {
    width: 20px;
    height: 1px;
    background-color: currentColor;
    display: block;
}

@media screen and (max-width: 600px) {

    .about-header h2,
    .about-header p {
        max-width: 100%;
    }

    .about-header img:nth-child(5),
    .about-header img:nth-child(6),
    .about-header img:nth-child(7) {
        display: none;
    }

}

/* sec galery */

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 120px;
}

.gallery-card {
    position: relative;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow-card);
}

.gallery-card:nth-child(1),
.gallery-card:nth-child(4) {
    width: calc(60% - 10px);
}

.gallery-card:nth-child(2),
.gallery-card:nth-child(3) {
    width: calc(40% - 10px);
}

.gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.gallery-card:hover img {
    transform: scale(1.1);
}

.gallery-card-info {
    position: absolute;
    left: 10px;
    bottom: -50px;
    color: white;
    background-color: var(--gray-dark);
    border: var(--border-card);
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 10;
    opacity: 0;
    transition: all .3s;
}

.gallery-card:hover .gallery-card-info {
    opacity: 1;
    bottom: 10px;
}

.gallery-card-info p {
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

@media screen and (max-width: 600px) {
    .gallery-card {
        height: 200px;
        border-radius: 10px;
    }

    .gallery-card-info {
        display: none;
    }
}

/* footer */

footer {
    margin-top: 120px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-bottom: 0px;
}

footer .hero-social {
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: start;
    }
}

/* Custom Cursor */
.custom-cursor {
    width: 8px;
    height: 8px;
    background-color: var(--white);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.custom-cursor-follower {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9998;
    mix-blend-mode: difference;
}



@media (hover: none) and (pointer: coarse) {

    .custom-cursor,
    .custom-cursor-follower {
        display: none;
    }
}